<!DOCTYPE HTML>
<html>
<head>
	<title>@ViewBag.Title - Public Web SMS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="Public Web SMS">
    <meta name="author" content="Ifan Iqbal & Putu Wiramasawara Widya">

    <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.datepicker.css" />
    <link href="~/Content/metro/css/modern.css" rel="stylesheet">
    <link href="~/Content/metro/css/modern-responsive.css" rel="stylesheet">
    <link href="~/Content/metro/css/site.css" rel="stylesheet" type="text/css">
    <link href="~/Content/metro/js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">

    
    <script type="text/javascript" src="~/Content/metro/js/assets/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/assets/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/assets/moment.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/assets/moment_langs.js"></script>

    <script type="text/javascript" src="~/Content/metro/js/modern/dropdown.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/modern/accordion.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/modern/buttonset.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/modern/carousel.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/modern/input-control.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/modern/pagecontrol.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/modern/rating.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/modern/slider.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/modern/tile-slider.js"></script>
    <script type="text/javascript" src="~/Content/metro/js/modern/tile-drag.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <style>
        .checkbox-column {
            vertical-align: bottom;
            width: 1em;
        }
        .group-list {
            max-width: 10em;
            text-align: center;
            display: inline;
        }
        #footer {
            margin: 0 auto;
            width: 100%;
            height: 2em;
            padding: .5em;
            text-align: center;
            color: #1d1d1d !important;
            z-index: 1000;
        }
        #footer * {
            color: #1D1D1D !important;
        }
        #main {
            padding-bottom: 3em;
        }
        #gateway-status {
            float: left;
            margin: 15px 0 0 10px;
        }
    </style>
    @*
    <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.datepicker.css" />
    <link rel="stylesheet" href="~/Content/css/columnal.css" />    
    <link rel="stylesheet" href="~/Content/FontStyle.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script type="text/javascript" src="~/Scripts/modernizr-2.5.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    *@

</head>
<body class="metrouicss" onload="prettyPrint()">
<div class="page">
<div class="nav-bar bg-color-darken">
    <a href="@Url.Content("~/Report")" id="gateway-status">
    @if(ViewBag.GatewayStatus)
    {
        <i class="icon-broadcast fg-color-white" title="Server SMS online"></i>
    }
    else
    {
        <i class="icon-broadcast fg-color-redLight" title="Server SMS offline"></i>
    }
    </a>
    <div class="nav-bar-inner padding10">
        <span class="pull-menu"></span>

        <a href="@Url.Content("~/")">
            <span class="element brand">
                <i class="icon-mail bg-color-green"></i>
                <span style="vertical-align: top;">Public Web SMS</span>
            </span>
        </a>

        <div class="divider"></div>

        <ul class="menu">
        @if (PublicWebSms.Models.UserSession.IsLogin() && !PublicWebSms.Models.UserSession.IsAdmin())
        {
			<li><a href="@Url.Content("~/Dashboard")">Dashboard</a></li>
			<li><a href="@Url.Content("~/Message/Compose")">Compose</a></li>
			<li><a href="@Url.Content("~/Message/Draft")">Draft</a></li>
			<li><a href="@Url.Content("~/Message/Outbox")">Outbox</a></li>
			<li><a href="@Url.Content("~/Contact")">Contact</a></li>
			<li><a href="@Url.Content("~/Contact/ShowGroup")">Group</a></li>
            <li><a href="@Url.Content("~/Report")">Status Server</a></li>
            <li style="float:right;"><a href="@Url.Content("~/Account/Logout")">Logout</a></li>
        }
        else if(PublicWebSms.Models.UserSession.IsAdmin())
        {
            <li><a href="@Url.Content("~/Admin/UserAprove")">User Management</a></li>
            <li><a href="@Url.Content("~/Report")">Status Server</a></li>
            <li style="float:right;"><a href="@Url.Content("~/Account/Logout")">Logout</a></li>
        }
        else
        {
            <li><a href="@Url.Content("~/")">Beranda</a></li>
            <li><a href="@Url.Content("~/Message/FreeCompose")">SMS Gratis</a></li>
            <li><a href="@Url.Content("~/Report")">Status Server</a></li>
            <li><a href="@Url.Content("~/Home/About")">Tentang</a></li>
            <li style="float:right;"><a href="@Url.Content("~/Account/Login")">Login</a></li>
        }

        </ul>

    </div>
</div>
</div>

<div id="main" class="page secondary">
    <div class="page-header">
        <div class="page-header-content">
            <h1>@ViewBag.Title</h1>
            <a href="/" class="back-button big page-back"></a>
        </div>
    </div>

    <div class="page-region">
        <div class="page-region-content">

@RenderBody()

        </div>
    </div>
</div>

<div id="footer">
            <span>
                &copy; 2013 </i> Public Web SMS by <a class="fg-color-white" href="mailto:pws_tc@gmail.com">Ifan Iqbal & Putu Wiramasawara Widya</a>
            </span>
</div>

<script type="text/javascript" src="~/Content/metro/js/assets/github.info.js"></script>
<script type="text/javascript" src="~/Content/metro/js/assets/google-analytics.js"></script>
<script type="text/javascript" src="~/Content/metro/js/google-code-prettify/prettify.js"></script>
<script src="~/Content/metro/js/sharrre/jquery.sharrre-1.3.4.min.js"></script>

</body>
</html>