@model IEnumerable<PublicWebSms.Models.ContactList>

@{
    ViewBag.Title = "Kontak";
}
<div class="row">
    <a href="@Url.Content("~/Contact/Create")">
        <button class="image-button bg-color-darken fg-color-white submit">Tambah Kontak<i class="icon-user bg-color-blue fg-color-white"></i></button>
    </a>
</div>
<br />
@if (Request.Form["updateSuccess"] == "1")
{
<div class="row">
    <div class="label success padding5">Pembaruan kontak berhasil!</div>
</div>
}
<div class="row">
    <button class="image-button bg-color-darken fg-color-white submit" id="btn-select-all"><i class="icon-checkmark bg-color-yellow fg-color-white"></i>Pilih</button>
    <button class="image-button bg-color-darken fg-color-white submit" id="btn-clear-all"><i class="icon-cancel-2 bg-color-yellow fg-color-white"></i>Lepas</button>
    <span>Kontrol jamak:</span>
    <button class="image-button bg-color-darken fg-color-white submit" id="btn-send-sms"><i class="icon-mail bg-color-green fg-color-white"></i>Kirim SMS</button>
    <button class="image-button bg-color-darken fg-color-white submit" id="btn-add-group"><i class="icon-tag bg-color-pink fg-color-white"></i>Tambahkan ke Grup</button>
    <button class="image-button bg-color-darken fg-color-white submit" id="btn-delete-all"><i class="icon-cancel bg-color-redLight fg-color-white"></i>Hapus</button>
	
</div>
<div class="row">
    <table id="contact-list" class="hovered striped bordered">
	    <tbody>
        @foreach (PublicWebSms.Models.ContactList contactList in Model)
        {
            <tr class="row">
			    <td class="checkbox-column">
                    <label class="input-control checkbox">
                        <input type="checkbox" />
                        <span class="helper"></span>
                    </label>
			    </td>
			    <td class="contact">
				    <div class="contact-name">
					    <span class="contact-name">@contactList.Nama</span>
				    </div>
				    <div class="contact-number">
					    <span class="contact-number">@contactList.Nomor</span>
				    </div>
			    </td>
                <td>
                    <div class="group-list">
                    @foreach(PublicWebSms.Models.Group group in contactList.ListGroup)
                    {
                        <a href="@Url.Content("~/Contact/ShowGroup?groupId=" + group.GroupId)">@group.GroupName</a>  
                    }
                    </div>
                </td>
			    <td data-contact-id="@contactList.ContactId" class="contact-button">
                    <a href="@Url.Content("~/Contact/ShowContact?contactId=" + contactList.ContactId)">Sunting</a> | <a href="">Kirim SMS</a> | <a href="">Hapus</a>
                @if (ViewBag.PartialView) 
                { 
                    <input type="submit" value="Keluarkan" class="submit" title="Keluarkan kontak dari grup"/>
                }
			    </td>
		    </tr>
        }
	    </tbody>
    </table>
</div>
