@{
    ViewBag.Title = "Buat SMS";
}
<div class="grid">
<div class="row">
    <div id="error" class="hide label important">SMS belum valid!</div>
</div>

@if (ViewBag.IsValid != 1)
{
<div class="row">
    <div class="label important">SMS belum valid!</div>
</div>
}

@if (ViewBag.FreeSmsSent == true)
{
<div class="row">
    <div class="label">SMS gratis telah diproses, semoga selamat sampe tujuan :D</div>
</div>
}

@if (ViewBag.FreeMode == true)
{
    <div class="row">
    <div class="label">Anda sudah mengirim @ViewBag.SmsCount SMS dari batas @ViewBag.SmsLimit SMS yang diperbolehkan.</div>
    </div>
}

@if (ViewBag.FreeMode == true)
{
    @:<form id="compose-form" method="post" action="@Url.Content("~/Message/ProcessFree")">
}
else
{
    @:<form id="compose-form" method="post" action="@Url.Content("~/Message/Process")">
}
    <div class="row">
        <div class="span5">
            <div class="input-control text">
                <input type="text" name="DestinationNumber" id="DestinationNumber" placeholder="Nomor tujuan" maxlength="13" />
                <button class="btn-clear" tabindex="-1" type="button"></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span5">
            <div class="input-control textarea">
                <textarea id="smsmsg" name="Content" cols="32" rows="5" placeholder="Isi SMS">@ViewBag.MessageContent</textarea>
            </div>
        </div>
    </div>

<div class="row">
    <div class="span5">
        <p>Panjang karakter <span id="smslen" style="border:none;">0</span></p>
    </div>
</div>

@if(ViewBag.FreeMode != true)
{
<div class="row">
    <div class="span5">
        <label class="input-control switch">
            <input type="checkbox" name="Scheduled" id="schedulecheck" class="bg-color-green" value="true" @ViewBag.ScheduleCheck/>
            <span class="helper">Aktifkan penjadwalan</span>
        </label>
    </div>
</div>
}

<div class="row">
    <div class="span3">
        <div class="input-control text">
            <input type="text" name="ScheduleTime" id="scheduletime" value="@ViewBag.ScheduleTime" />
        </div>
    </div>
</div>

<div class="row">
    <p>Perintah</p>
</div>

<div class="row">
    <div class="span1">
        <label class="input-control radio">
            @if (ViewBag.FreeMode != true)
            {
                <input type="radio" name="smsAction" id="action-send" value="1" checked="checked"/>
            }
            else
            {
                <input type="radio" name="smsAction" id="action-send" value="2" checked="checked"/>
            }
            <span class="helper">Kirim</span>
        </label>
    </div>
    <div class="span3">
        @if (ViewBag.FreeMode != true)
        {
            <label class="input-control radio">
                <input type="radio" name="smsAction" id="action-draft" value="0"/>
                <span class="helper">Simpan ke draft</span>
            </label>
        }
    </div>
    <input type="hidden" name="draftId" value="@ViewBag.DraftId" />
</div>
<div class="row">
    <button class="image-button bg-color-darken fg-color-white submit" id="process-button">Proses SMS<i class="icon-upload-3 bg-color-green fg-color-white"></i></button>
    
    <img src="~/Content/images/loading.gif" id="loading" class="hide"/>
</div>

</form>
</div>
<script>
    $(document).ready(function () {
        /*
        $("#process-button").click(function () {
            alert($("#action-send").prop("checked"));
            return false;
        });
        */

        /* Mengubah tampilan tombol aksi */
        $(".sms-action-label").each(function () {
            if ($(this).prop("for") == "action-send") {
                $(this).addClass("checked");
            }
            $(this).click(function () {
                $(".sms-action-label").each(function () {
                    $(this).toggleClass("checked");
                });
            });
        });
       
        $("#loading").hide();
        $("#error").hide();
        $("#scheduletime").datepicker({ dateFormat: "m/d/yy 00:00:00" });

        $("#scheduletime").each(function () {
            if ($("#schedulecheck").prop("checked")) {
                $(this).prop("disabled", false);
            }
            else $(this).prop("disabled", true);
        });
        
        $("#schedulecheck").click(function () {
            if ($(this).prop("checked")) {
                $("#scheduletime").prop("disabled", false);
            }
            else {
                $("#scheduletime").prop("disabled", true);
            }
        });


        $("#smsmsg").keyup(function () {
            var smslen = $("#smsmsg").val().length
            $("#smslen").text(smslen);
            if (parseInt(smslen) > 160) {
                $("#smsmsg").css("background-color", "#F5FF8C");
                $("#smslen").css({ "font-weight": "bold", "color": "red" });
            } else {
                $("#smsmsg").css("background-color", "");
                $("#smslen").css({ "font-weight": "normal", "color": "black" });
            }

        });

        $("#smsform").submit(function () {
            $("#loading").show();
            var smslen = $("#smsmsg").val().length;
            if (smslen >= 160) {
                $("#error").html("SMS Anda melebihi 160 karakter. Pengiriman tidak dapat dilakukan.")
                $("#error").hide();
                $("#error").fadeIn(500);
                return false;
            }
            else {
                $.post("@Url.Content("~/Message/Send")", $(this).serialize(), function (data) {
                $("#loading").hide();
                    if (data == "false") {
                        $("#error").html("Terjadi kesalahan dalam proses pengiriman")
                        $("#error").hide();
                        $("#error").fadeIn(500);
                        return false;
                    }
                    else {
                        window.location = "@Url.Content("~/Message/Outbox?success=1")";
                }
                }, "text");
            }

            return false;
        });

        $("#savedraft").click(function () {
            $("#draft").val("true");
            $("#smsform").trigger("submit");
            $("#draft").val("false");
        });
    });

</script>